* {
    font-family: 'Nunito Sans';
    margin: 0;
}

.handle-aside {
    display: flex;
    align-items: center;
    margin-top: 45%;
    height: 3em;
    border: none;
    background-color: rgba(128, 128, 128, 0.411);
    border-radius: 0 20px 20px 0;
    cursor: pointer;
    transition: all 0.1s;
}

.handle-aside:hover {
    background-color: rgba(128, 128, 128, 0.575);
}